* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 5px;
}

.display {
    width: 200px;
    height: 75px;
}

.keypad {
    display: flex;
    
}